/package-lock.json
/node_modules/
/.idea/libraries/
/.idea/modules/
/.idea/codeStyles/
/.idea/todo-list-barmin.iml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/model/out/
/js/test/model/todo-list-test-bundle.js
/js/test/lib/lib-test-bundle.js
/js/test/event/even-bus-test-bundle.js
/js/public/js/bundle.js
/web/src/main/resources/public/
